{% extends 'base.html' %}

{% block title%}
	선거인 확인
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row align-items-center">
            <div class="form-group row">
                <label for="grade" class="col-sm-2 col-form-label col-auto">{{form.s_grade.label}}</label>
                <select class="form-control form-control-lg col-auto" id="grade">
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
            <input type="submit" value="확인" class="btn btn-info btn-sm">
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">학년</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">학년</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                </div>
            </div>
        </div>
    </form>
{% endblock %}